
body{
    background-image:url(../img/novo-logotipo-the-north-face-site.webp);
    background-size: contain;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2cm;
}
audio{
    background-color: crimson;
    width:80%;
    border-radius:15px;
}
svg{
    width:800px;
    background-color: rgb(255, 139, 139);
}
circle{
    align-items: center;
}
@media screen and (max-width:800px)
{ img{width:50%;} 
svg{width:100%;
background-color:aqua;

}
#rectangulo{
    display:none;
}
}
@media screen and (min-width:800px)
{
    
    svg{display:inline-block;
    width:100%;}
}